@page "/catalogo"
@rendermode InteractiveServer
@using Bookmory.Components.Shared
@using Bookmory.Data
@using Bookmory.Repositorios
@inject IRepositorioLibros repositorioLibros

<div class="container-fluid p-0 m-0">
    <!--- Parte principal -->
    <main class="w-100 vh-100 overflow-auto m-0 p-0">
        <!--Encabezado-->
        <header class="d-flex flex-row flex-wrap align-items-center text-bg-light mb-5 py-3 px-4 border-bottom border-2 borderCafeDiscreto">
            <h2 class="header display-3 tituloEspacioFlex3">Catálogo de libros</h2>

            <!--Barra de busqueda-->
            <form class="d-flex align-items-center" role="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-dark" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </button>
            </form>
        </header>

        <!--Sección de filtros-->
        <aside class="bg-light p-3 mb-1">
            <section  class="px-2 py-1 d-flex flex-row gap-3 align-items-left">
                <h4>Género</h4>
                <select class="form-select w-25" @bind="_generoSeleccionado" aria-label="Seleccionar género">
                    <option value="">Todos</option>
                    <option value="Ficción">Ficción</option>
                    <option value="Historia">Historia</option>
                    <option value="Ciencia">Ciencia</option>
                    <option value="Terror">Terror</option>
                    <option value="Poesía">Poesía</option>
                </select>
            </section>
        </aside>
        <!-- FIN Sección de filtros-->
        <!--Sección de catálgo de libros-->
        <section class="d-flex flex-wrap gap-4 px-2 justify-content-between">
            <!-- TODO: Acomodar tamaño de imagen para que todas las tarjetas tengan el mismo tamaño de imagen, creo que ocupan el mismo alto sin importar el tamaño ed la imagen, creo que eso no se debe corregir, eliminar ejemplos-->
            <!--Documentación de tarjetas https://getbootstrap.com/docs/5.3/components/card/-->

                @foreach (var libro in libros)
                {
                    <BookCard Id="@libro.Id"
                        Title="@libro.Titulo"
                        Author="@libro.Autor?.Nombre"
                        Description="@libro.Descripcion"
                        ImageUrl="@libro.ImagenUrl">
                    </BookCard>
            }


            @* <BookCard Title="Memorias del subsuelo"
                      Author="Fiódor Dostoyevski"
                      Description="Narra el monólogo de un amargado exfuncionario de 40 años que vive aislado en una especie de subsuelo mental y físico."
                      ImageUrl="https://i.imgur.com/pt9rGiS.jpegg">
            </BookCard>

            <BookCard Title="Memorias del subsuelo"
                      Author="Fiódor Dostoyevski"
                      Description="Narra el monólogo de un amargado exfuncionario de 40 años que vive aislado en una especie de subsuelo mental y físico."
                      ImageUrl="https://i.imgur.com/pt9rGiS.jpegg">
            </BookCard> *@
        </section>
        <!--Sección de catálgo de libros-->
    </main>
</div>

@code {
    private string _generoSeleccionado = string.Empty;
    private List<Libro> libros = new();

    protected override async Task OnInitializedAsync()
    {
        libros = await repositorioLibros.ObtenerLibros();
    }
}
