@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavManager

@using Bookmory.Data
@using Bookmory.Repositorios
@inject IRepositorioMisLibros repositorioMisLibros

<div class="container-fluid p-0 m-0">
    <!--- Parte principal -->
    <main class="w-100 vh-100 overflow-auto m-0  p-0">
        <header class="text-bg-light mb-5 py-3 border-bottom border-2 borderCafeDiscreto text-center">
            <h2 class="header display-3">Hola, bienvenido</h2>
        </header>

        <!--- Tarjetas de estado [Total, progreso, terminados, sin empezar] -->
        <section class="d-flex flex-wrap px-2">
            <!--Tarjeta: Total de libros-->
            <div class="text-bg-light bordesTarjetasEstado tarjetaEstado flex-grow-1">
                <img class="iconoTarjeta" src="https://cdn-icons-png.flaticon.com/128/5832/5832416.png">
                <div>
                    <p class="numeroTarjeta">@totalLibros</p>
                    <p class="textoTarjeta">Total de libros</p>
                </div>
            </div>
            <!--Tarjeta: Terminados -->
            <div class="text-bg-light bordesTarjetasEstado tarjetaEstado flex-grow-1">
                <img class="iconoTarjeta" src="https://cdn-icons-png.flaticon.com/512/16799/16799608.png">
                <div>
                    <p class="numeroTarjeta">@terminados</p>
                    <p class="textoTarjeta">Terminados</p>
                </div>
            </div>
            <!--Tarjeta: En proceso-->
            <div class="text-bg-light bordesTarjetasEstado tarjetaEstado flex-grow-1">
                <img class="iconoTarjeta" src="https://images.emojiterra.com/google/android-12l/512px/1f4d6.png">
                <div>
                    <p class="numeroTarjeta">@enProceso</p>
                    <p class="textoTarjeta">En proceso</p>
                </div>
            </div>
            <!--Tarjeta: Sin empezar -->
            <div class="text-bg-light bordesTarjetasEstado tarjetaEstado flex-grow-1">
                <img class="iconoTarjeta"
                     src="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/1024px/1f4ed.png">
                <div>
                    <p class="numeroTarjeta">@noEmpezados</p>
                    <p class="textoTarjeta">Sin empezar</p>
                </div>
            </div>
        </section>
        <!--- FIN Tarjetas de estado [Total, progreso, terminados, sin empezar] -->
        <!--Libros recientes-->
        <section class="d-flex">
            <section class="text-bg-light seccionBordes flex-grow-1 table-responsive">
                <h3 class="tituloTabla"> <span>Libros recientes</span> <span><a href="#" @onclick="IrAMisLibros">Ver todos →</a></span></h3>
                <table class="table table-borderless">
                    <thead class="table-dark">
                        <tr>
                            <th>LIBRO</th>
                            <th>AUTOR</th>
                            <th>ESTADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in misLibros)
                        {
                            <tr>
                                <td>@item.Libro?.Titulo</td>
                                <td>@($"{item.Libro?.Autor?.Nombre} {item.Libro?.Autor?.ApellidoPaterno}")</td> 
                                <td> <span class="estadoLibro @colorEstado(item.Estado?.TipoEstado) w-50">
                                        <span>&#9679;</span> @item.Estado?.TipoEstado
                                    </span>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </section>
        <!--FIN Libros recientes-->
        <!--Estadisticas de libros-->
        <section class="text-bg-light bordesTablaProgreso">
            <h3 class="tituloTabla"> <span>Progreso por estado</span></h3>

            <div class="filaProgreso">
                <img class="iconoProgreso" src="https://cdn-icons-png.flaticon.com/512/16799/16799608.png">
                <label>Terminados:</label>
                <div class="datosProgreso">
                    <span>@terminados libros</span>
                    <span>•</span>
                    <span>@porcentajeTerminados%</span>
                </div>
            </div>
            <progress class="barraTerminados" max="100" value="@porcentajeTerminados"></progress>

            <div class="filaProgreso">
                <img class="iconoProgreso" src="https://images.emojiterra.com/google/android-12l/512px/1f4d6.png">
                <label>En proceso:</label>
                <div class="datosProgreso">
                    <span>@enProceso libros</span>
                    <span>•</span>
                    <span>@porcentajeProceso%</span>
                </div>
            </div>
            <progress class="barraProceso" max="100" value="@porcentajeProceso"></progress>

            <div class="filaProgreso">
                <img class="iconoProgreso"
                     src="https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/1024px/1f4ed.png">
                <label>Sin empezar:</label>
                <div class="datosProgreso">
                    <span>@noEmpezados libros</span>
                    <span>•</span>
                    <span>@porcentajeNoEmpezados%</span>
                </div>
            </div>
            <progress class="barraSinEmpezar" max="100" value="@porcentajeNoEmpezados"></progress>
        </section>
        <!--FIN Estadisticas de libros-->
    </section>
    <!--FIN Estadisticas de libros-->
    </main>
</div>
@code {

    private List<MiLibro> misLibros = new();

    private int totalLibros;
    private int terminados;
    private int enProceso;
    private int noEmpezados;

    private int porcentajeTerminados;
    private int porcentajeProceso;
    private int porcentajeNoEmpezados;

    public string colorEstado(string estado)
    {
        switch (estado)
        {
            case "Terminado":
                return "colorTerminado";
            case "En proceso":
                return "colorProceso";
            case "No empezado":
                return "colorNoEmpezado";
            default:
                return "";
        }
    }

    private void IrAMisLibros()
    {
        NavManager.NavigateTo("mis_libros");
    }

    protected override async Task OnInitializedAsync()
    {
        misLibros = await repositorioMisLibros.ObtenerMisLibros();

        totalLibros = misLibros.Count;

        terminados = misLibros.Count(m =>
            m.Estado?.TipoEstado == "Terminado");

        enProceso = misLibros.Count(m =>
            m.Estado?.TipoEstado == "En proceso");

        noEmpezados = misLibros.Count(m =>
            m.Estado?.TipoEstado == "No empezado");

        if (totalLibros > 0)
        {
            porcentajeTerminados = (terminados * 100) / totalLibros;

            porcentajeProceso = (enProceso * 100) / totalLibros;

            porcentajeNoEmpezados = (noEmpezados * 100) / totalLibros;
        }
    }

}