@page "/mis_libros"
@rendermode InteractiveServer
@using Bookmory.Components.Shared
@using Bookmory.Data
@using Bookmory.Repositorios
@inject IRepositorioMisLibros repositorioMisLibros

<div class="container-fluid p-0 m-0">
    <!--- Parte principal de mis libros -->
    <main class="w-100 vh-100 overflow-auto m-0  p-0">
        <!--Encabezado-->
        <header class="d-flex flex-row flex-wrap align-items-center text-bg-light mb-5 py-3 px-4 border-bottom border-2 borderCafeDiscreto">
            <h2 class="header display-3 tituloEspacioFlex3">Mis libros</h2>
        </header>

        <!--Sección de libros-->
        <section class="d-flex flex-wrap gap-4 p-4">

        @foreach (var libro in misLibros)
        {
            <MisLibrosCard Id="@libro.Id"
                Title="@libro.Libro!.Titulo"
                Author="@($"{libro.Libro.Autor?.Nombre} {libro.Libro.Autor?.ApellidoPaterno}")"
                ImageUrl="@libro.Libro.ImagenUrl"
                Status="@libro.Estado?.TipoEstado"
                OnLibroEliminado="RecargarLibros">
            </MisLibrosCard>
        }

        <!--
        <MisLibrosCard Id=""
            Title="Cien años de soledad"
            Author="Gabriel García Márquez"
            ImageUrl=""
            Status="Terminado">
        </MisLibrosCard>-->
        </section>
    </main>
</div>

@code {
    private List<MiLibro> misLibros = new();

    protected override async Task OnInitializedAsync()
    {
        misLibros = await repositorioMisLibros.ObtenerMisLibros();
    }

    private async Task RecargarLibros()
    {
        misLibros = await repositorioMisLibros.ObtenerMisLibros();

        StateHasChanged();
    }
}
